html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a {
  color: #0000FF;
  img { border: none; }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice {
  color: #00B205;
}

#flash_alert {
  color: #D00;
}

.error_messages, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p { margin: 8px 10px; }
  ul { margin-bottom: 0; }
}

.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 12px 0;
}

.col-hdr {
  background-color: #f4efef;
  border-bottom: 1px solid black;
}

.success-msg {
  background: honeydew;
  padding: 10px;
  border: 1px solid antiquewhite;
}

.button {
  cursor:pointer;
  padding:5px 25px;
  background:#35b128;
  border:1px solid #33842a;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  color:#f3f3f3;
  font-size:1.1em;
}

.button:hover, .button:focus {
  background-color :#399630;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}

.danger {
  background: #E61019;
}

.danger:hover, .danger:focus {
  background-color :#B3141B;
}